//color
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: red;

//breakpoints
$tablets: 768px;
$phones: 480px;

//normalize
@import "misc/normalize";

@import "misc/media";

@import "misc/layout";
@import "misc/fonts";


@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/title.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/form.scss";
@import "blocks/fixed.scss";
@import "blocks/team-acco.scss";
@import "blocks/team.scss";
@import "blocks/hamburger-menu-link.scss";
@import "blocks/menu-acco.scss";
@import "blocks/menu.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/order.scss";
@import "blocks/burgers.scss";

