//color
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: red;

@import "/css/misc/normalize.scss";


@import "/сss/misc/layout";
@import "/fonts";


//blocks
@import "/css/blocks/header.scss";
@import "/css/blocks/hero.scss";
@import "/css/blocks/nav.scss";
@import "/css/blocks/btn.scss";
@import "/css/blocks/title.scss";
@import "/css/blocks/best.scss";


