.html {
    font-size: rem(16px);
    @include tablets {
        font-size: 14px;

    }

    @include phones {
        font-size: 13px;
    }
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;


     &--without-align {
         justify-content: initial;
     }
}

.container {
    @include tablets {
    width: 95%;
    } 
}
    
    


.wrapper {
   position: relative;
   min-height: 100%;
   overflow: hidden;

}
.section {
    height: 100vh;
    min-height: 650px;
}


ul {
    list-style: none;
}

h1 {
    font-style: normal;
}

a {
    text-decoration: none;
}