html, body {
    height: 100;
}

.html {
    font-size: rem(16px);
    @include tablets {
        font-size: 14px;

    }

    @include phones {
        font-size: 13px;
    }
}


.section {
    height: 100vh;
    min-height: rem(650px);
    min-width: rem(320px);
    

}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;


     &--without-align {
         justify-content: initial;
     }
}


.wrapper {
   position: relative;
   min-height: 100%;
   overflow: hidden;

}


ul {
    list-style: none;
}

h1 {
    font-style: normal;
}

a {
    text-decoration: none;
}