@font-face {
  font-family: 'Gagalin-Regular';
  src: url("/fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'Lifehack-Medium';
  src: url("/fonts/Lifehack-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal; }


  @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');
