.best{
background: url(/img/fon/best.png) center center/cover no-repeat;
}


.best__list {
    display: flex;
}
.best__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best__title {
    text-align: center;
    font-family: 'Lifehack-Medium',Arial, sans-serif;
    font-size: 24px;
    color: #2f3234;
}
.best__text {
    text-align: center;
    font-family: 'Ubuntu',Arial, sans-serif; 
    font-weight: 300;
    font-size: 14px;
    line-height: 24.07px;
}

.best__img {
    margin-bottom: 15px;
}