.btn {
    border-radius: rem(5px);
    padding: rem(10px) rem(15px);
    background: red;
    text-decoration: none;
    color: #fff;
    font-size: rem(13px);
    text-transform:uppercase; 
    text-align: center

    
    
}
.btn--bg-black {
    background: rgba(#2f3234, .93);
    width: 6.857rem;
    cursor: pointer;
}


