.btn {
    border-radius: rem(5px);
    padding: rem(10px) rem(15px);
    background: red;
    text-decoration: none;
    color: #fff;
    font-size: rem(13px);
    text-transform:uppercase; 
}



.to-next-section {
    display: flex;
    position: absolute;
    background: transparent;
    border: none;
}

.arrow-scroll {
    
    position: absolute;
    
    right: rem(535px);
    
}