.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(15px);
}


.header__menu {
    
}
.header__buttons {
    display: flex;
    align-items: center;

    @include tablets {
        display: none;
        
    }
    
}

