.burgers {
background: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);
}

.slider__container {
 
    display: flex;
    height: 72.3%;
    padding: 0 4.45%;
    overflow: hidden; 
}

.slider__arrow-left {
    
    justify-content: flex-end;
}
.slider__arrow {

    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}


.slider__arrow .arrow {
    height: 15px;
}
.slider__arrow-left svg {

    transform: rotate(90deg);
    margin-left: 10px;
}
.arrow {
    height: 14px;
    width: 29px;
}

.slider__wrap {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}
