.title {
  color: #f9bb4c;
  font-size: 72px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Gagalin-Regular',Arial, sans-serif;
  font-style: normal;
  
  
}
  .title--color-black {
    color: black;
    text-align: center; 
   }
