.title {
  color: #f9bb4c;
  font-size: 75px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Gagalin", Arial, sans-serif;
  text-align: center; 
}
  .title--color-black {
    color: black;
   }
