.team {
	background: url("/img/team/team.png") 50% no-repeat;
	background-size: cover;
	position: relative;

	.title {
		margin-bottom: 12%;
	}
}

.team__content {
  text-align: center;
}

.team__content {
	position: absolute;
	right: 0;
	top: 0;
  bottom: 0;
  width: 50%;
	background: rgba(#2f3234, .93);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include tablets {
    width: 100%;
    padding: 0;
  }
}

